.Rproj.user
inst/doc
/doc/
/Meta/
./exploring/
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
*.dne
IC_rendimiento.html
IC_rendimiento.rmd
test.md
test.rmd
test.txt
ensaya.R
ejemplos.R
test.html
test.md
